{% macro table_link(uri, text) %}
    <a href="{{ uri }}">{{ text }}</a>
{% endmacro %}

{% macro table(table_data, classes) %}
    {% import "macros.html.twig" as nsv %}
    <table class="nsv-table borders-bold text-center text-nowrap {{ classes }}">
        <tr>
            {% for cell in table_data.header %}
                <th class="{{ cell.class }}">{{ cell.text }}</th>
            {% endfor %}
        </tr>
        {% for row in table_data.body %}
            <tr>
                {% for cell in row %}
                    {% if cell.link %}
                        <td class="{{ cell.class }}">
                            {{ _self.table_link(cell.link, cell.text) }}
                        </td>
                    {% else %}
                        <td class="{{ cell.class }}">{{ cell.text }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

