{% macro table_link(uri, text) %}
    <a href="{{ uri }}">{{ text }}</a>
{% endmacro %}

{# TODO: This macro is breaking MVC separation IMO by moving to much view logic into the controller/service. #}
{% macro table(table_data, classes) %}
    {% import "macros.html.twig" as nsv %}
    <table class="nsv-table borders-bold text-center text-nowrap {{ classes }}">
        <tr>
            {% for cell in table_data.header %}
                {# Set the title attribute for the th @TODO: find a more elegant way #}
                {% if cell.title %}
                    {% set cell_title = cell.title%}
                {% else %}
                    {% set cell_title = '' %}
                {% endif %}

                {# TODO: Remove usage of raw #}
                <th class="{{ cell.class }}" {{ nsv.tooltip_top(cell_title) }}>{{ cell.text|raw}}</th>
            {% endfor %}
        </tr>
        {% for row in table_data.body %}
            <tr>
                {% for cell in row %}
                    {# Set the title attribute for the td. @TODO: find a more elegant way #}
                    {% if cell.title %}
                        {% set cell_title = cell.title%}
                    {% else %}
                        {% set cell_title = '' %}
                    {% endif %}

                    {% if cell.link %}
                        <td class="{{ cell.class }}" {{ nsv.tooltip_top(cell_title) }}>
                            {{ _self.table_link(cell.link, cell.text) }}
                        </td>
                    {% else %}
                        <td class="{{ cell.class }}" {{ nsv.tooltip_top(cell_title) }}>{{ cell.text }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

