{{ set_title(title) }}
{{ get_header() }}
{% set show_sidebar = not hide_sidebar|default(false) %}

<div class="col-12 {% if show_sidebar %} col-lg-9 {% endif %}">
  
  <div class="card shadow nsv-card">
    <div class="card-body">
      {% block headline %}
        <h1>{{ title }}</h1>
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
  </div>


{% if show_sidebar %}
</div>
<div class="col-12 col-lg-3" id="nsv-sidebar">
  {% block sidebar %}
  {{ get_template_part('sidebar/navigation-sidebar') }}
  {% endblock %}
{% endif %}


  {{ get_footer() }}
