{{ set_title(title) }}
{{ get_header() }}

<div class="col-12 col-lg-9">
  
  <div class="card shadow nsv-card">
    <div class="card-body">
      {% block headline %}
        <h1>{{ title }}</h1>
      {% endblock %}

      {% block content %}{% endblock %}
    </div>
  </div>

</div>
<div class="col-12 col-lg-3" id="nsv-sidebar">
  {% block sidebar %}
  {{ get_template_part('sidebar/navigation-sidebar') }}
  {% endblock %}

  {{ get_footer() }}
