{# Displays a message. Valid types are same as bootstrap alert types. #}
{% macro message(message, type) %}
  <div class="alert alert-{{ type|default('info') }}">
    {{ message|raw }}
  </div>
{% endmacro %}

{# A simple link. Requires uri and name fields on the model. #}
{% macro link(model) %}
  {% if model %}<a href="{{model.uri}}">{{model.name|e}}</a>{% endif %}
{% endmacro %}

{# An eMail link with simple bot protection. #}
{% macro email(email) %}
  {% set emailHash = nsv_md5('asdko4mor3' ~ email) %}
  <a id="nsv-ep-{{ emailHash }}">{{ email|replace({'@': emailHash}) }}</a>
  <script type="text/javascript">
    let e = document.getElementById("nsv-ep-{{ emailHash }}");
    e.innerHTML = e.innerHTML.replace('{{ emailHash }}', String.fromCharCode(8 * 8));
    e.href = 'mai' + 'lto:' + e.innerHTML;
  </script>
{% endmacro %}

{# A responsive description list. #}
{# Usage: {{ nsv.dd('Name') }} {{ item.name }} {{ nsv.end_dd }} #}
{% macro dd(title) %}
  <dt class='col-4 col-sm-3 col-md-2'>{{title}}:</dt>
  <dd class='col-8 col-sm-9 col-md-10'>
{% endmacro %}
{% macro end_dd() %}
  {# Add &nbsp; to ensure empty value takes the same height. #}
  &nbsp;
  </dt>
{% endmacro %}

{# Renders attributes for a tooltip on an element. #}
{# TODO: Initilization currently only happens in league manager #}
{% macro tooltip(title) %}
  data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ title }}"
{% endmacro %}

{# Initializes tooltips. Should only be called from template footers. #}
{% macro tooltipInit() %}
  <script type="text/javascript">
    $(function () {
      $('[data-bs-toggle="tooltip"]').tooltip()
    })
  </script>
{% endmacro %}

{# Renders a switch which adds the nsv-details CSS class to the parent element. #}
{% macro detailsToggle(title) %}
  {% set toggle_id = 'nsv-toggle-' ~ random() %}
  <div class="form-check form-switch d-sm-none d-print-none mt-1 mb-1">
    <input type="checkbox" class="form-check-input" id="{{ toggle_id }}" onclick="$(this).parent().parent().toggleClass('nsv-details-show')">
    <label class="form-check-label" for="{{ toggle_id }}">{{ title }}</label>
  </div>
{% endmacro %}

{# Renders a tab navigation with support for dropdown menus (one level). #}
{% macro tabNavigation(tabs) %}
  <ul class="nav nav-tabs mt-4 mb-4 d-print-none">
    {% for tab in tabs %}
      <li class='nav-item'>
        <a class='nav-link {{ tab.active|default(false) ? 'active' : '' }} {{ tab.children|default(false) ? 'dropdown-toggle' : '' }}'
          {% if tab.children|default(false) %}data-bs-toggle="dropdown" role="button" aria-expanded="false"{% endif %}
          href='{{ tab.uri }}'
        >
          {{ tab.label }}
        </a>
        {% if tab.children|default(false) %}
          <ul class="dropdown-menu">
            {% for item in tab.children %}
              <li><a class="dropdown-item {{ item.active|default(false) ? 'active' : ''}}" href="{{ item.uri }}">{{ item.label }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
