{# TODO: Instead of using legacy functions, go through WordPress via layout.html.twig #}

{{ legacy_league_header(title) }}

{% block headline %}
  <h2>{{ title }}</h2>
{% endblock %}

{# TODO: nsv.message #}
{% for message in messages %}
  <div class="alert alert-{{ message.type }}">
    {{ message.message }}
  </div>
{% endfor %}

{% block content %}
{% endblock %}

{{ legacy_league_footer() }}
