{# TODO: Instead of using legacy functions, go through WordPress via layout.html.twig #}
{% import "macros.html.twig" as nsv %}

{{ legacy_league_header(title) }}

{% block headline %}
  <h2>{{ title }}</h2>
{% endblock %}

{% for message in messages %}
  {{ nsv.message(message.message, message.type) }}
{% endfor %}

{% block content %}
{% endblock %}

{{ nsv.tooltipInit() }}

{{ legacy_league_footer() }}
