{% extends '@league/legacy-layout.html.twig' %}
{% import "@league/macros.html.twig" as macros %}
{% import "macros.html.twig" as nsv %}
{% set title = league.name %}

{% block content %}

{# TODO: Use nsv.tabNavigation #}
<ul class="nav nav-tabs nsv-tabs mt-3 mb-3 d-print-none">
  {% for tab in tabs %}
    <li class='nav-item'>
      <a class='nav-link {% if tab == activeTab %} active {% endif %}' 
         href='?{% if tab %}date={{tab}}{% endif %}'>
        {{ tab ? tab|date('d.m.') : 'Aktuell' }}
      </a>
    </li>
  {% endfor %}

  {# Script to scroll to the active element #}
  {# Note: Keep inline to minimize jank #}
  {# TODO: Move to nsv.tabNavigation macro #}
  <script>
    $('.nsv-tabs').each((_, elem) => {
      // Scroll to the element *before* the active one.
      const prev = $(elem).find('.nav-link.active').parent().prev()
      if (prev) {
        elem.scrollLeft = prev[0].offsetLeft - 16  /* padding */
      }
    })
  </script>
</ul>

{% for division in matches %}
  {% if division.hasPairings %}
    <h4><a>{{division.name}}</a></h4>
    {% for matchDay in division.matchDays %}
      {% if matchDay.pairings %}
        <div class="nsv-table mb-4">
          <div class="d-flex">
            <div class="sed-schedule-heading">
              <a href="{{matchDay.uri}}">{{matchDay.round}}. Spieltag</a>
            </div>
            <div class="text-nowrap">
              <a href='{{ matchDay.uri }}'><img style='border: none' alt='HTML-Version' src='/ligen/_templates/systemicons/spieltag.gif'></a>
              <a href='{{ matchDay.uriPdf }}'><img style='border: none' alt='Druckversion' src='/ligen/_templates/systemicons/printer.gif'></a>
              <a href='{{ division.statsUri }}'><img style='border: none' alt='Statistiken' src='/ligen/_templates/systemicons/statistiken.gif'></a>
            </div>
          </div>
          {{ macros.pairings(matchDay.pairings) }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% if not hasMatches %}
  {{ nsv.message('Noch keine Paarungen hinterlegt.') }}
{% endif %}

{% endblock %}
