{% extends '@league/legacy-layout.html.twig' %}
{% import "@league/macros.html.twig" as macros %}
{% set title = league.name %}

{% block content %}
<ul class="nav nav-tabs mt-3 mb-3 d-print-none">
  {% for tab in tabs %}
    <li class='nav-item'>
      <a class='nav-link {% if tab == activeTab %} active {% endif %}' 
         href='?{% if tab %}date={{tab}}{% endif %}'>
        {{ tab ? tab|date('d.m.') : 'Aktuell' }}
      </a>
    </li>
  {% endfor %}
</ul>

{% for division in matches %}
  {% if division.matchDays|default(false) %}
    <h4><a>{{division.name}}</a></h4>
    {% for matchDay in division.matchDays %}
      <div class="nsv-table mb-4">
        <div class="d-flex">
          <div class="sed-schedule-heading">
            <a href="{{matchDay.uri}}">{{matchDay.round}}. Spieltag</a>
          </div>
          <div class="text-nowrap">
            {# TODO: Don't go all the way to the right on large screens... #}
            <a href='{{ matchDay.uri }}'><img style='border: none' alt='HTML-Version' src='/ligen/_templates/systemicons/spieltag.gif'></a>
            <a href='{{ matchDay.uriPdf }}'><img style='border: none' alt='Druckversion' src='/ligen/_templates/systemicons/printer.gif'></a>
            <a href='{{ division.statsUri }}'><img style='border: none' alt='Statistiken' src='/ligen/_templates/systemicons/statistiken.gif'></a>
          </div>
        </div>
        {{ macros.pairings(matchDay.pairings) }}
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}
{% endblock %}
