{% extends '@league/legacy-layout.html.twig' %}
{% import "macros.html.twig" as nsv %}
{% set title = player.name %}

{% block content %}

<dl class="row mt-3">
  {{ nsv.dd('Mannschaft') }} {{  nsv.link(player.team) }} {{ nsv.end_dd }}
  {{ nsv.dd('DWZ') }}
    {{ player.dwz }}
    {% if player.dsbUri %}&nbsp;(<a href="{{player.dsbUri}}">DWZ Karteikarte</a>){% endif %}
  {{ nsv.end_dd }}
  {{ nsv.dd('ELO') }} {{ player.elo }} {{ nsv.end_dd }}
</dl>

{% if player.games|default(false) %}
  <h4>Paarungen</h4>
  <table class='nsv-table text-center'>
    <tr>
      <th>Rd</th>
      <th>Brt</th>
      <th>Frb</th>
      <th>Ort</th>
      <th>Gegner</th>
      <th class="d-none d-md-table-cell">Spielername</th>
      <th>DWZ</th>
      <th>Erg</th>
    </tr>
    {% for game in player.games %}
      <tr>
        <td><a href="{{ game.uri }}">{{ game.round }}</a></td>
        <td>{{ game.board }}</td>

        {# Color #}
        {% if game.opponentPlayer %}
          <td style="{{ game.white ? '' : 'background: black; color: white' }}">
            {{ game.white ? 'W' : 'S' }}
          </td>
        {% else %}
          <td>&nbsp;</td>
        {% endif %}

        <td>{{ game.home ? 'Heim' : 'Gast' }}</td>
        <td class='text-start d-md-none'>
          <div>{{ nsv.link(game.opponentPlayer) }}</div>
          <div class="font-italic">{{ nsv.link(game.opponentTeam) }}</div>
        </td>
        <td class='text-start d-none d-md-table-cell'>{{ nsv.link(game.opponentTeam) }}</td>
        <td class='text-start d-none d-md-table-cell'>{{ nsv.link(game.opponentPlayer) }}</td>
        <td>{{ game.opponentPlayer.dwz|default(null) }}</td>
        <td>{{ game.result }}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% if player.dwzCalculation|default(false) %}
  <h4 class="mt-5">Inoffizielle DWZ-Auswertung</h4>
  <dl class="row mt-3">
    {% for label, value in player.dwzCalculation %}
      {{ nsv.dd(label) }} {{value}} {{ nsv.end_dd }}
    {% endfor %}
  </dl>
  <span style='font-size: smaller'>Berechnet durch <a href='http://isewase.de'>isewase.de</a> von Andreas Klein und Stefan Flassig</span>
{% endif %}
{% endblock %}
