{% extends '@league/legacy-layout.html.twig' %}
{% set title = division.name %}

{# TODO: head title #}
{# TODO: fix sidebar links #}
{# TODO: fix asset paths #}


{% block content %}
{# TODO: Verlegung #}
{# TODO: Ausrichter #}

<table class="sed_normal" cellspacing="0" cellpadding="2">
  {% for matchDay in division.matchDays() %}
    <tr><td colspan="5" style="padding-top: 20px">
      <h4>{{matchDay.round}}. Spieltag - {{matchDay.formattedDate}}</h4>
    </td></tr>

    {# TODO: link #}
    {% for pairing in matchDay.pairings %}
      <tr>
        {# TODO: link automatically #}
        <td>{{ nsv_link(pairing.team1) }}</td>
        <td>-</td>
        <td>{{ nsv_link(pairing.team2) }}</td>
        <td>&nbsp;{{pairing.formattedResult}}</td>
      </tr>
    {% endfor %}

    <tr><td colspan="5" style="">
      {{ nsv_link('/test', 'Zum Spieltag') }}
    </td></tr>
  {% endfor %}
</table>
<!--
<td class="c">&nbsp;1½:1½</td><td></td></tr>
<tr><td colspan="5">&nbsp;</td></tr>
-->

{% endblock %}
