{% extends '@league/legacy-layout.html.twig' %}
{% import "macros.html.twig" as nsv %}
{% set title = division.name %}

{# TODO: head title #}

{% block content %}
<table class="sed_normal" cellspacing="0" cellpadding="2">
  {% for matchDay in matchDays %}
    <tr><td colspan="5" style="padding-top: 20px">
      <h4><a href="{{matchDay.uri}}">{{matchDay.round}}. Spieltag &ndash; {{matchDay.date|date('d.m.Y')}}</a></h4>
    </td></tr>

    {% for pairing in matchDay.pairings %}
      <tr>
        <td>{{ nsv.link(pairing.team1) }}</td>
        <td>&ndash;</td>
        <td>{{ nsv.link(pairing.team2) }}</td>
        <td>&nbsp;{{pairing.result}}</td>
        <td>
          &nbsp;
          {% if pairing.wasMoved %}
            {% if pairing.moveDate %}
              (am {{ pairing.moveDate|date('d.m.') }}) 
            {% else %}
              (verlegt) 
            {% endif %}
          {% endif %}
          {% if pairing.host %}
            (Ausrichter: {{ nsv.link(pairing.host) }})
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>
{% endblock %}
