{% extends '@league/legacy-layout.html.twig' %}
{% import "macros.html.twig" as nsv %}
{% set title = team.name %}

{% block content %}

{#}
<dl class="row mt-3">
  {{ nsv.dd('Mannschaft') }} {{  nsv.link(player.team) }} {{ nsv.end_dd }}
  {{ nsv.dd('DWZ') }}
    {{ player.dwz }}
    {% if player.dsbUri %}&nbsp;(<a href="{{player.dsbUri}}">DWZ Karteikarte</a>){% endif %}
  {{ nsv.end_dd }}
  {{ nsv.dd('ELO') }} {{ player.elo }} {{ nsv.end_dd }}
</dl>
#}

{# TODO: abweichender termin #}

{% for division in league.divisions %}
  {% if team.pairingsByDivision[division.id]|default(false) %}
    <h4 class="mt-4">{{ division.name }}</h4>
    <table class='sed_tabelle' cellpadding='3'>
      <tr>
        <th>R</th>
        <th>Tag</th>
        <th>H/G</th>
        <th>Gegner</th>
        <th>Erg.</th>
      </tr>
      {% for pairing in team.pairingsByDivision[division.id] %}
        <tr>
          <td><a href="{{ pairing.uri }}">{{ pairing.round }}</a></td>
          <td><a href="{{ pairing.uri }}">{{ pairing.date|date('d.m.') }}</a></td>
          <td>{{ pairing.home ? 'Heim' : 'Gast' }}</td>
          <td class="text-left">{{ nsv.link(pairing.opponent) }}</td>
          <td><a href="{{ pairing.uri }}">{{ pairing.result|default(null) }}</a></td>
        </tr>
      {% endfor %}
    </table>    
  {% endif %}
{% endfor %}

{#}
{% if player.games %}
  <h4>Paarungen</h4>

{% endif %}
#}

{% endblock %}
