{% extends '@league/legacy-layout.html.twig' %}
{% import "macros.html.twig" as nsv %}
{% set title = team.name %}

{% block content %}

{# TODO: abweichender termin #}

<div class="row">
  {% if team.pairingsByDivision|default(false) %}
    <div class="col-12 col-lg-6">
      {% for division in league.divisions %}
        {% if team.pairingsByDivision[division.id]|default(false) %}
          <h4 class="mt-4">{{ division.name }}</h4>
          <table class='sed_tabelle' cellpadding='3'>
            <tr>
              <th>R</th>
              <th>Tag</th>
              <th>H/G</th>
              <th>Gegner</th>
              <th>Erg.</th>
            </tr>
            {% for pairing in team.pairingsByDivision[division.id] %}
              <tr>
                <td><a href="{{ pairing.uri }}">{{ pairing.round }}</a></td>
                <td><a href="{{ pairing.uri }}">{{ pairing.date|date('d.m.') }}</a></td>
                <td>{{ pairing.home ? 'Heim' : 'Gast' }}</td>
                <td class="text-left">{{ nsv.link(pairing.opponent) }}</td>
                <td class="text-nowrap"><a href="{{ pairing.uri }}">{{ pairing.result|default(null) }}</a></td>
              </tr>
            {% endfor %}
          </table>    
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <div class="col-12 col-lg-6">
    <h4 class="mt-4">Spiellokal</h4>
    {{ team.venue.name }}<br>
    {% if team.venue.note %} <i>{{ team.venue.note }}</i><br> {% endif %}
    {{ team.venue.street }}<br>
    {{ team.venue.postCode }} {{ team.venue.city }}<br>
    {% if team.venue.phone %} {{ team.venue.phone }}<br> {% endif %}
    <a href='{{ team.venue.directionsUri|raw }}' target='_blank'>Google Maps</a><br>
    {# TODO: icons #}

    <h4 class="mt-4">Mannschaftsf&uuml;hrer:in</h4>
    {{ team.captain.name }}<br>
    {% if showContactInfo %}
      {% if team.captain.phone %} Tel. {{ team.captain.phone }}<br> {% endif %}
      {% if team.captain.phone2 %} Tel. {{ team.captain.phone2 }}<br> {% endif %}
      {% if team.captain.mail %} {{ nsv.email(team.captain.mail) }}<br> {% endif %}
    {% endif %}
    
  </div>
</div>

{% endblock %}
