{% extends '@league/legacy-layout.html.twig' %}
{% import "macros.html.twig" as nsv %}
{% set title = team.name %}

{% macro playerTooltip(player) %}
  {% if player %}
    {% if player.dwz %}
      {{ nsv.tooltip(player.name ~ ' (' ~ player.dwz ~ ')') }}
    {% else %}
      {{ nsv.tooltip(player.name) }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% block content %}
<div class="row">
  {% if team.pairingsByDivision|default(false) %}
    <div class="col-12 col-lg-6">
      {% for division in league.divisions %}
        {% if team.pairingsByDivision[division.id]|default(false) %}
          <h4 class="mt-4">{{ division.name }}</h4>
          <table class='nsv-table text-center'>
            <tr>
              <th>R</th>
              <th>Tag</th>
              <th>H/G</th>
              <th>Gegner</th>
              <th>Erg.</th>
            </tr>
            {% for pairing in team.pairingsByDivision[division.id] %}
              <tr>
                <td><a href="{{ pairing.uri }}">{{ pairing.round }}</a></td>
                <td><a href="{{ pairing.uri }}">{% if pairing.date %}{{ pairing.date|date('d.m.') }}{% endif %}</a></td>
                <td>{{ pairing.home ? 'Heim' : 'Gast' }}</td>
                <td class="text-left">{{ nsv.link(pairing.opponent) }}</td>
                <td class="text-nowrap"><a href="{{ pairing.uri }}">{{ pairing.result|default(null) }}</a></td>
              </tr>
            {% endfor %}
          </table>    
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <div class="col-12 col-lg-6">
    <h4 class="mt-4">Spiellokal</h4>
    {% if team.venue.note %} <i>{{ team.venue.note }}</i><br> {% endif %}
    {{ team.venue.name }}<br>
    {{ team.venue.street }}<br>
    {{ team.venue.postCode }} {{ team.venue.city }}<br>
    {% if team.venue.phone %} {{ team.venue.phone }}<br> {% endif %}
    <a href='{{ team.venue.directionsUri|raw }}' target='_blank'>Google Maps</a><br>
    {# TODO: icons #}

    <h4 class="mt-4">Mannschaftsf&uuml;hrer:in</h4>
    {{ team.captain.name }}<br>
    {% if showContactInfo %}
      {% if team.captain.phone %} Tel. {{ team.captain.phone }}<br> {% endif %}
      {% if team.captain.phone2 %} Tel. {{ team.captain.phone2 }}<br> {% endif %}
      {% if team.captain.mail %} {{ nsv.email(team.captain.mail) }}<br> {% endif %}
    {% endif %}
    
  </div>
</div>

<h4 class="mt-4">Aufstellung</h4>
<div class='overflow-auto'>
  {{ nsv.detailsToggle('Einzelergebnisse anzeigen') }}
  <table class='nsv-table borders-bold text-center' cellpadding='3'>
    <tr>
      <th>Nr.</th>
      <th>Name</th>
      <th class="border-right-bold">DWZ</th>
      {# TODO: ensure sorted by API, with the team's division first #}
      {# TODO: set border width to 2px for some cells #}
      {% for division in league.divisions %}
        {% if team.pairingsByDivision[division.id]|default(false) %}
          {% for pairing in team.pairingsByDivision[division.id] %}
            <th class="nsv-details" {{ nsv.tooltip(pairing.opponent.name) }}>
              <a href="{{ pairing.uri }}">&nbsp;{{ pairing.round }}&nbsp;</a>
            </th>
          {% endfor %}
        {% endif %}
      {% endfor %}
      <th class="border-left-bold">Pkt</th>
      <th>Sp.</th>
      <th>%</th>
    </tr>
    {% for teamNumber, players in team.playersByTeamNumber %}
      {% for player in players %}
        <tr>
          <td class="text-right">{{ player.number }}</td>
          <td class="text-left">
            {{ nsv.link(player) }}
            {% if player.isGuest %}
              <span {{ nsv.tooltip('Gastspieler:in') }} class="badge badge-pill badge-secondary">G</span>
            {% endif %}
          </td>
          <td class="border-right-bold">{{ player.dwz }}</td>

          {# TODO: simplify all these loops. Or maybe just a macro? #}
          {% for division in league.divisions %}
            {% if team.pairingsByDivision[division.id]|default(false) %}
              {% for pairing in team.pairingsByDivision[division.id] %}
                {% if player.games[pairing.id]|default(false) %}
                  {% set game = player.games[pairing.id] %}
                  <td class="nsv-details" {{ _self.playerTooltip(game.opponentPlayer) }}>
                    <a href="{{ pairing.uri }}">{{ game.result }}</a>
                  </td>
                {% else %}
                  <td class="nsv-details"></td>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}

          <td class="border-left-bold">{% if player.gameCount %}{{ player.pointsFormatted() }}{% endif %}</td>
          <td>{% if player.gameCount %}{{ player.gameCount }}{% endif %}</td>
          <td>{% if player.gameCount %}{{ (100 * player.points / player.gameCount)|round }}{% endif %}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
</div>

{# TODO: Move somewhere more general. Maybe set enable_tooltips to true? Or depending on whether tooltip macro was called? #}
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

{% endblock %}
