{% import "macros.html.twig" as nsv %}

<table class="nsv-table borders-bold text-center text-nowrap">
  <tr>
    <th></th>
    <th>Mannschaft</th>
    {% for team_count in matchDay.rankingNew %}
      <th>{{ loop.index }}</th>
    {% endfor %}
    <th>MP</th>
    <th>BP</th>
  </tr>

  {% for team in matchDay.rankingNew %}
    <tr>
      <td class="ranking-position">{{ team.ranking_position }}.</td>
      <td class="team-name text-start">{{ team.name }}</td>
      {% for crosstable_pairing in team.crosstable_pairings %}
        {% if crosstable_pairing.board_points == 888 %}
          <td title="{{  }}" class="crosspairing pairing-{{ loop.index }} self-pairing">
          </td>
        {% elseif crosstable_pairing.board_points == 999 %}
          <td class="crosspairing pairing-{{ loop.index }}">
          </td>
        {% else %}
          <td class="crosspairing pairing-{{ loop.index }}">
            {{ crosstable_pairing.board_points }}
          </td>
        {% endif %}
      {% endfor %}
      <td class="team-points">{{ team.team_points }}</td>
      <td class="board-points">{{ team.board_points }}</td>

    </tr>
  {% endfor %}

</table>
<p>&nbsp;</p>


