{% extends 'layout.html.twig' %}
{% import "macros.html.twig" as nsv %}

{% set title = "Terminkalender" %}

{% block content %}

  <a href="eintragen/" class="btn btn-primary btn-sm" role="button">{{nsv.icon('plus')}} Termin eintragen</a>
 
  <table cellpadding="3">
    {% for event in events %}
      {% set month = event.date|format_date(pattern='MMMM Y') %}
      {% if month != lastmonth|default('') %}
        <tr><td colspan='2'><h3 class='mt-4'>{{ month }}</h3></td></tr>
        {% set lastmonth = month %}
      {% endif %}

      <tr>
        <td class='text-nowrap'>{{ event.date|format_date(pattern='ccc, dd.MM.') }}</td>
        <td>
          {% if event.url %}
            <a href='{{ event.url }}' class='{{ event.isNsv ? 'fw-bold' : '' }}'>{{ event.name }}</a>
          {% else %}
            <span class='{{ event.isNsv ? 'fw-bold' : '' }}'>{{ event.name }}</span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
