{% extends 'layout.html.twig' %}
{% import "macros.html.twig" as nsv %}

{% set title = "Vereine" %}
{% set hide_sidebar = true %}

{% block content %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
  {# TODO: min width #}
  <div class="mb-4" data-nsv-component="ClubsMap" style="height: 500px"></div>

  {% for district in districts %}
    <h4>{{district.name}}</h4>
    <a href="{{district.website}}">{{district.website}}</a>
    
    <table class="table table-striped mt-4 mb-4" style="max-width: 600px">
      <tr><th>Nr.</th><th>Verein</th><th>Links</th></tr>
      {% for club in district.clubs %}
        <tr>
          <td>{{club.zps}}</td>
          <td>{{club.name}}</td>
          <td>
            {% if club.properties|default(false) %}
              <a href="https://schach.in/{{club.properties.identifier}}/">Details</a> |
            {% endif %}
            <a href="{{club.dwzUri}}">DWZ</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}

{% endblock %}
