{% extends 'layout.html.twig' %}
{% import "macros.html.twig" as nsv %}

{% set title = "Vereine" %}
{% set hide_sidebar = true %}

{% block content %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

  <div
    data-nsv-component="ClubsMap"
    data-nsv-data="{{ jsonData | escape('html_attr') }}"
    style="height: 450px"
    class="mb-4"></div>

  {% for district in districts %}
    {% if districts|length > 1 %}
      <h4>{{district.name}}</h4>
      <a href="{{district.website}}">{{district.website}}</a>
    {% endif %}
    
    <table class="table table-striped mt-4 mb-4" style="max-width: 600px">
      <tr><th>Nr.</th><th>Verein</th><th class="d-none d-md-table-cell">Links</th></tr>
      {% for club in district.clubs %}
        <tr>
          <td>{{club.zps}}</td>
          <td>
            <div>{{club.name}}</div>
            <div class="d-md-none">{{_self.links(club)}}</div>
          </td>
          <td class="d-none d-md-table-cell">{{_self.links(club)}}</td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}

  <p>
    <strong>Hinweis:</strong> Die Daten werden einmal täglich von <a href="https://schach.in">schach.in</a> importiert.
    Änderungen und Ergänzungen können nach Klick auf <i>Details</i> direkt auf der schach.in Seite vorgenommen werden.  
  </p>

  <div class="d-none d-lg-block text-end">
    <a href="/vereine/api"><span class="badge bg-secondary">API</span></a>
  </div>

{% endblock %}

{% macro links(club) %}
  {% if club.detailsUri|default(false) %}
    <a href="{{club.detailsUri}}">Details</a> |
  {% endif %}
  <a href="{{club.dwzUri}}">DWZ</a>
  {% if club.website|default(false) %}
    | <a href="{{club.website}}">Website</a>
  {% endif %}
{% endmacro %}
