{% extends '@league/legacy-layout.html.twig' %}
{% import "macros.html.twig" as nsv %}
{% set tooltip_age_average = ISO-8859-1 %}
{% block content %}
  <h4 class="mt-4">DWZ-Statistik</h4>
  <table class="nsv-table borders-bold text-center text-nowrap statistics-dwz">
    <th class="team">Team Name</th>
    <th
      class="active" {{ nsv.tooltip_top('DWZ Durchschnitt der Spieler, die tats&auml;chlich gespielt haben. Spieler ohne DWZ werden als DWZ 700 gewertet.') }}>
      Eingesetzte
    </th>
    <th
      class="top" {{ nsv.tooltip_top('Durchschnittliche DWZ der Stammspieler. Spieler ohne DWZ werden als DWZ 700 gewertet.') }}>
      Top {{ dwzAdditionalData.boardCount }}</th>
    <th
      class="all" {{ nsv.tooltip_top('Durchschnittliche DWZ von allen gemeldeten Spielern. Spieler ohne DWZ werden als DWZ 700 gewertet.') }}>
      Alle Spieler
    </th>
    <th class="age" {{ nsv.tooltip_top('Durchschnittliches Alter der Spieler, die tats&auml;chlich gespielt haben.') }}>
      Alter &#8709;
    </th>
    {% for team in dwzData %}
      {# Set additional class values depending on if a team is leading in
      a particular statistic. This could be written shorter with ternary operators.
      I was too lazy for the moment to figure it out on combination with set #}
      {% set dwz_rank = '' %}
      {% set top_dwz_rank = '' %}
      {% set all_dwz_rank = '' %}
      {% set age_rank = '' %}
      {% if team.dwz_rank == 'top' %}
        {% set dwz_rank = 'fw-bold' %}
      {% endif %}
      {% if team.top_dwz_rank == 'top' %}
        {% set top_dwz_rank = 'fw-bold' %}
      {% endif %}
      {% if team.all_dwz_rank == 'top' %}
        {% set all_dwz_rank = 'fw-bold' %}
      {% endif %}
      {% if team.age_rank == 'top' %}
        {% set age_rank = 'fw-bold' %}
      {% endif %}

      <tr>
        <td class="team"><a href="{{ team.team.uri }}">
            {{ team.team.name }}
          </a>
        </td>
        <td class="active-dwz {{ dwz_rank }}">{{ team.active_dwz_average }}</td>
        <td class="top-dwz {{ top_dwz_rank }}">{{ team.top_x_dwz_average }}</td>
        <td class="all-dwz {{ all_dwz_rank }}">{{ team.all_dwz_average }}</td>
        <td class="age {{ age_rank }}">{{ team.active_age_average }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td class="average-active fw-bold">Durchschnitt:</td>
      <td class="average-active fw-bold">{{ dwzAdditionalData.averageValues.dwzActive }}</td>
      <td class="average-top fw-bold">{{ dwzAdditionalData.averageValues.dwzTop }}</td>
      <td class="average-all fw-bold">{{ dwzAdditionalData.averageValues.dwzAll }}</td>
      <td class="average-age fw-bold">{{ dwzAdditionalData.averageValues.age }}</td>
    </tr>
  </table>


{% endblock %}