{% extends '@league/legacy-layout.html.twig' %}
{% import "macros.html.twig" as nsv %}
{% set tooltip_age_average = ISO-8859-1 %}
{% block content %}
  <h4 class="mt-4">DWZ-Statistik</h4>
  <table class="nsv-table borders-bold text-center text-nowrap statistics-dwz">
    <th class="team">Team Name</th>
    <th class="active" {{ nsv.tooltip_top('DWZ Durchschnitt der Spieler, die tats&auml;chlich gespielt haben. Spieler ohne DWZ werden als DWZ 700 gewertet.') }}>Eingesetzte</th>
    <th class="top" {{ nsv.tooltip_top('Durchschnittliche DWZ der Stammspieler. Spieler ohne DWZ werden als DWZ 700 gewertet.') }}>Top</th>
    <th class="all" {{ nsv.tooltip_top('Durchschnittliche DWZ von allen gemeldeten Spielern. Spieler ohne DWZ werden als DWZ 700 gewertet.') }}>Alle Spieler</th>
    <th class="age" {{ nsv.tooltip_top('Durchschnittliches Alter der Spieler, die tats&auml;chlich gespielt haben.') }}>Alter &#8709;</th>
  {% for team in dwzData %}
    <tr>
      <td>
{{ team.team.name }}
      </td>
    </tr>
  {% endfor %}
  </table>


{% endblock %}