{% extends '@league/legacy-layout.html.twig' %}
{% import "@league/macros/table-macro.html.twig" as table_macro %}
{% import "@league/macros/players-clubs-macro.html.twig" as players_clubs_macro %}
{% import "macros.html.twig" as nsv %}
{% set title = 'Statistiken ' ~ division_name %}

{% block content %}
    {{ nsv.tabNavigation(tabs) }}

    {% if intro_text_values %}
        <div class="statistics-container">
            <br>
            <p>Ein in dieser Staffel eingesetzter Spieler hat durchschnittlich eine <strong>DWZ
                    von {{ intro_text_values.dwz_active_average }}</strong> und ist
                <strong>{{ intro_text_values.age_average }}</strong> Jahre alt.</p>

            <p>{% if intro_text_values.text_top_scorers|length == 1 %}Der Top-Scorer mit {{ intro_text_values.highest_point_score }} Punkten aus {{ intro_text_values.lowest_game_score }} Partien ist:
                {% else %}
                    Die Top-Scorer mit {{ intro_text_values.highest_point_score }} Punkten aus {{ intro_text_values.lowest_game_score }} Partien sind:
                {% endif %}
                {{ players_clubs_macro.players_clubs(intro_text_values.text_top_scorers) }}.<br>

                {% if intro_text_values.text_draw_kings|length == 1 %}Der Remisk&ouml;nig mit {{ intro_text_values.highest_draw_score }} Remis ist
                {% else %}
                    Die Remisk&ouml;nige mit {{ intro_text_values.highest_draw_score }} Remis sind
                {% endif %}
                {{ players_clubs_macro.players_clubs(intro_text_values.text_draw_kings) }}.</p>

            <p>{{ intro_text_values.sum_forfeit_losses }} Spiele wurden kampflos verloren gegeben, das sind
                <strong>{{ intro_text_values.forfeit_percentage }}%</strong>. Von
                den {{ intro_text_values.sum_game_count_played }} wirklich gespielten Partien sind
                <strong>{{ intro_text_values.average_draws }}%</strong> Remis ausgegangen. Die Wei&szlig;spieler haben
                einen Score von <strong>{{ intro_text_values.average_white_score }}%</strong>, der Score von Schwarz ist
                <strong>{{ intro_text_values.average_black_score }}%</strong>.</p>


            <h3 class="table-subheading">DWZ-Statistik</h3>
            {{ table_macro.table(dwz_table, 'statistics-dwz') }}
            <p>&nbsp;</p>

            <h3 class="table-subheading">Topscorer</h3>
            {{ table_macro.table(topscorer_table, 'statistics-topscorer') }}
            <p>&nbsp;</p>

            <h3 class="table-subheading">Spiel-Statistik</h3>
            {{ table_macro.table(team_game_score_table, 'statistics-games') }}
            <p>&nbsp;</p>


        </div>
        {% else %}
        <p>Nicht genug Partien ausgetragen, um sinnvolle Statistik-Daten anzuzeigen.</p>
    {% endif %}
{% endblock %}