{% extends '@league/legacy-layout.html.twig' %}
{% import "@league/macros/players-clubs-macro.html.twig" as players_clubs_macro %}
{% import "macros.html.twig" as nsv %}
{% set title = division_name %}
{% block content %}
  {{ nsv.tabNavigation(tabs) }}

  {% if introTextValues %}
    <div class="statistics-container">
      <p>Ein in dieser Staffel eingesetzter Spieler hat durchschnittlich eine <strong>DWZ
          von {{ introTextValues.dwzTextValues.dwzActiveAverage }}</strong> und ist
        <strong>{{ introTextValues.dwzTextValues.ageAverage }}</strong> Jahre alt.</p>

      <p>{% if topScorerData.text_values.text_top_scorers|length == 1 %}Der Top-Scorer mit {{ topScorerData.text_values.highest_point_score }} Punkten aus {{ topScorerData.text_values.lowest_game_score }} Partien ist:
        {% else %}
          Die Top-Scorer mit {{ topScorerData.text_values.highest_point_score }} Punkten aus {{ topScorerData.text_values.lowest_game_score }} Partien sind:
        {% endif %}
        {{ players_clubs_macro.players_clubs(topScorerData.text_values.text_top_scorers) }}.<br>

        {% if topScorerData.text_values.highest_draw_score > 0 %}
          {% if topScorerData.text_values.text_draw_kings|length == 1 %}Der Remisk&ouml;nig mit {{ topScorerData.text_values.highest_draw_score }} Remis ist
          {% else %}
            Die Remisk&ouml;nige mit {{ topScorerData.text_values.highest_draw_score }} Remis sind
          {% endif %}
          {{ players_clubs_macro.players_clubs(topScorerData.text_values.text_draw_kings) }}.
        {% endif %}
      </p>

      <p>{{ teamGameScoreAdditionalData.text_values.sum_forfeit_losses }} Spiele wurden kampflos verloren gegeben, das
        sind
        <strong>{{ teamGameScoreAdditionalData.text_values.forfeit_percentage }}%</strong>. Von
        den {{ teamGameScoreAdditionalData.text_values.sum_game_count_played }} wirklich gespielten Partien sind
        <strong>{{ teamGameScoreAdditionalData.text_values.average_draws }}%</strong> Remis ausgegangen. Die Wei&szlig;spieler
        haben
        einen Score von <strong>{{ teamGameScoreAdditionalData.text_values.average_white_score }}%</strong>, der Score
        von Schwarz ist
        <strong>{{ teamGameScoreAdditionalData.text_values.average_black_score }}%</strong>.</p>


      <h4 class="mt-4">DWZ-Statistik</h4>
      <table class="nsv-table borders-bold text-center text-nowrap statistics-dwz">
        <th class="team">Mannschaft</th>
        <th
          class="active" {{ nsv.tooltip_top('DWZ Durchschnitt der Spieler, die tats&auml;chlich gespielt haben. Spieler ohne DWZ werden als DWZ 700 gewertet.') }}>
          Eingesetzte
        </th>
        <th
          class="top" {{ nsv.tooltip_top('Durchschnittliche DWZ der Stammspieler. Spieler ohne DWZ werden als DWZ 700 gewertet.') }}>
          Top {{ dwzAdditionalData.boardCount }}</th>
        <th
          class="all" {{ nsv.tooltip_top('Durchschnittliche DWZ von allen gemeldeten Spielern. Spieler ohne DWZ werden als DWZ 700 gewertet.') }}>
          Alle Spieler
        </th>
        <th
          class="age" {{ nsv.tooltip_top('Durchschnittliches Alter der Spieler, die tats&auml;chlich gespielt haben.') }}>
          Alter &#8709;
        </th>
        {% for team in dwzData %}
          {# Set additional class values depending on if a team is leading in
      a particular statistic. Leading values are displayed as bold. #}
          {% set dwz_rank = team.dwz_rank == 'top' ? 'fw-bold' : '' %}
          {% set top_dwz_rank = team.top_dwz_rank == 'top' ? 'fw-bold' : '' %}
          {% set all_dwz_rank = team.all_dwz_rank == 'top' ? 'fw-bold' : '' %}
          {% set age_rank = team.age_rank == 'top' ? 'fw-bold' : '' %}

          <tr>
            <td class="team"><a href="{{ team.team.uri }}">
                {{ team.team.nameWithNumber }}
              </a>
            </td>
            <td class="active-dwz {{ dwz_rank }}">{{ team.active_dwz_average }}</td>
            <td class="top-dwz {{ top_dwz_rank }}">{{ team.top_x_dwz_average }}</td>
            <td class="all-dwz {{ all_dwz_rank }}">{{ team.all_dwz_average }}</td>
            <td class="age {{ age_rank }}">{{ team.active_age_average }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td class="average-active fw-bold">Durchschnitt:</td>
          <td class="average-active fw-bold">{{ dwzAdditionalData.averageValues.dwzActive }}</td>
          <td class="average-top fw-bold">{{ dwzAdditionalData.averageValues.dwzTop }}</td>
          <td class="average-all fw-bold">{{ dwzAdditionalData.averageValues.dwzAll }}</td>
          <td class="average-age fw-bold">{{ dwzAdditionalData.averageValues.age }}</td>
        </tr>
      </table>
      <h4 class="mt-4">Topscorer</h4>

      <table class="nsv-table borders-bold text-center text-nowrap statistics-topscorer">
        <tr>
          <th>Name</th>
          <th>DWZ</th>
          <th>Mannschaft</th>
          <th>Brett</th>
          <th>Partien</th>
          <th>Punkte</th>
        </tr>
        {% for player in topScorerData.topTenScorers %}
          <tr>
            <td class="name"><a href="{{ player.player.uri }}">{{ player.player.name }}</a></td>
            <td class="dwz">{{ player.player.dwz }}</td>
            <td class="team"><a href="{{ player.player.team.uri }}">{{ player.player.team.nameWithNumber }}</a></td>
            <td class="board">{{ player.boards_played }}</td>
            <td class="games-count">{{ player.games_count }}</td>
            <td class="points fw-bold">{{ player.points }}</td>
          </tr>
        {% endfor %}
      </table>


      <h4 class="mt-4">Spiel-Statistik</h4>

      <table class="nsv-table borders-bold text-center text-nowrap statistics-games">
        <tr>
          <th class="team">Mannschaft</th>
          <th
            class="game-all-count border-left-bold" {{ nsv.tooltip_top('Wie viele Partien hat die Mannschaft bislang gespielt?') }}>
            &sum;
          </th>
          <th
            class="forfeit-wins" {{ nsv.tooltip_top('Kampflose Siege') }}>
            +</th>
          <th
            class="forfeit-losses border-right-bold" {{ nsv.tooltip_top('Kampflose Niederlagen') }}>
            -
          </th>
          <th
            class="wins" {{ nsv.tooltip_top('Siege aus den wirklich gespielten Partien') }}>
            1
          </th>
          <th
            class="draws" {{ nsv.tooltip_top('Remis') }}>
            &frac12;
          </th>
          <th
            class="losses border-right-bold" {{ nsv.tooltip_top('Niederlagen') }}>
            0
          </th>
          <th
            class="white-score" {{ nsv.tooltip_top('Score mit Wei&szlig;') }}>
            W
          </th>
          <th
            class="black-score" {{ nsv.tooltip_top('Score mit Schwarz') }}>
            S
          </th>
        </tr>

        {% for team in teamGameScoreData %}
          <tr>
            <td class="name"><a href="{{ team.uri }}">{{ team.name }}</a></td>
            <td class="game-all-count border-left-bold">{{ team.game_count_played }}</td>
            <td class="forfeit-wins">{{ team.forfeit_wins }}</td>
            <td class="forfeit-losses border-right-bold">{{ team.forfeit_losses }}</td>
            <td class="wins">{{ team.wins|round }}%</td>
            <td class="draws">{{ team.draws|round }}%</td>
            <td class="losses border-right-bold">{{ team.losses|round }}%</td>
            <td class="white-score">{{ team.white_score }}%</td>
            <td class="black-score">{{ team.black_score }}%</td>
          </tr>
        {% endfor %}
        <tr>
          <td class="name fw-bold">Summe:</td>
          <td class="game-all-count border-left-bold fw-bold">{{ teamGameScoreAdditionalData.average_scores.sum_game_count }}</td>
          <td class="forfeit-wins fw-bold">{{ teamGameScoreAdditionalData.average_scores.sum_forfeit_wins }}</td>
          <td class="forfeit-losses border-right-bold fw-bold">{{ teamGameScoreAdditionalData.average_scores.sum_forfeit_losses }}</td>
          <td class="wins fw-bold">{{ teamGameScoreAdditionalData.average_scores.average_wins }}%</td>
          <td class="draws fw-bold">{{ teamGameScoreAdditionalData.average_scores.average_draws }}%</td>
          <td class="losses border-right-bold fw-bold">{{ teamGameScoreAdditionalData.average_scores.average_losses }}%</td>
          <td class="white-score fw-bold">{{ teamGameScoreAdditionalData.average_scores.average_white_score }}%</td>
          <td class="black-score fw-bold">{{ teamGameScoreAdditionalData.average_scores.average_black_score }}%</td>
        </tr>

      </table>


    </div>
  {% else %}
    <p>Es wurden nicht genug Partien ausgetragen, um sinnvolle Statistik-Daten anzuzeigen.</p>
  {% endif %}


{% endblock %}