{% import "email/bootstrap.html.twig" as bs %}
{{ bs.body }}

  {{ bs.card }}

    <h1 {{ bs.h1_attrs }}>Neuer Termin</h1>
    {{ bs.hr }}

    {{ bs.row }}
      {{ bs.col(2) }}<strong>Datum:</strong>{{ bs.endcol }}
      {{ bs.col(10) }}Sa, 12. Dezember 2023{{ bs.endcol }}
    {{ bs.endrow }}
    {{ bs.spacer(2) }}
    {{ bs.row }}
      {{ bs.col(2) }}<strong>Name:</strong>{{ bs.endcol }}
      {{ bs.col(10) }}Lehrter Open{{ bs.endcol }}
    {{ bs.endrow }}
    {{ bs.spacer(2) }}
    {{ bs.row }}
      {{ bs.col(2) }}<strong>URL:</strong>{{ bs.endcol }}
      {{ bs.col(10) }}<span class="text-primary" style="color: #0d6efd;"><a href="http://example.com">http://example.com</a></span>{{ bs.endcol }}
    {{ bs.endrow }}

    {{ bs.hr }}
    {{ bs.button('http://example.com', 'Veröffentlichen') }}

  {{ bs.endcard }}

{{ bs.endbody }}
